Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-use-emplace,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-member-init,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '.*/(game|engines|runner|tools|tests)/.*'
FormatStyle: file
